TryIt/TryIt/Service References/BowlService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar20.fulton.asu.edu/Page1/Bowl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar20.fulton.asu.edu/Page1/Bowl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_addToBowl_InputMessage">
    <wsdl:part name="parameters" element="tns:addToBowl" />
  </wsdl:message>
  <wsdl:message name="IService1_addToBowl_OutputMessage">
    <wsdl:part name="parameters" element="tns:addToBowlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromBowl_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFromBowl" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromBowl_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeFromBowlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_checkOutConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:checkOutConfirm" />
  </wsdl:message>
  <wsdl:message name="IService1_checkOutConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkOutConfirmResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="addToBowl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addToBowl" message="tns:IService1_addToBowl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addToBowlResponse" message="tns:IService1_addToBowl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFromBowl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeFromBowl" message="tns:IService1_removeFromBowl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeFromBowlResponse" message="tns:IService1_removeFromBowl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkOutConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/checkOutConfirm" message="tns:IService1_checkOutConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/checkOutConfirmResponse" message="tns:IService1_checkOutConfirm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addToBowl">
      <soap:operation soapAction="http://tempuri.org/IService1/addToBowl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeFromBowl">
      <soap:operation soapAction="http://tempuri.org/IService1/removeFromBowl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkOutConfirm">
      <soap:operation soapAction="http://tempuri.org/IService1/checkOutConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar20.fulton.asu.edu/Page1/Bowl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>